/* Footer */
#footer {
	position: relative;
	width: 100%;
	min-width: 100%;
	background: #f2f2f2;
	z-index: 3;
	border-top: 5px solid #ccc;
	clear: both;
}
#footer .footerContent {
	margin: 0 auto;
	width: 1004px;
	padding: 0 10px;
	height: 100%;
}
#footer .column3 {
	float: left;
	margin: 25px 3% 25px 0;
	width: 31%;
	padding: 0;
	vertical-align: top;
}
#footer .column3 .columnsLeft {
	float: left;
	margin-right: 5%;
	width: 50%;
}
#footer .column3 .columnsRight {
	float: left;
}
#footer .siteindex a {
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
#footer .last {
	margin-right: 0;
	padding: 0;
	border: none;
	width: 26%;
}
#footer h1, #footer h2 {
	color: #153252;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 15px;
	font-weight: bold;
}
#footer p {
	font-size: 13px;
	color: #666;
	padding: 0;
}
#footer ul {
	list-style: none outside none;
	font-size: 13px;
	line-height: 115%;
	margin: 0;
	padding: 0;
}
#footer li {
	padding: 0 0 7px 0;
	list-style: none;
	margin: 0;
	/*width: 50%;
	float: left; */
}
#footer a {
	color: #336699;
}
#footer #lowerFooter {
	background: #153252;
	min-height: 70px;
	padding: 35px 0px 25px 0px;
}
#footer #lowerFooter img {
	float: left;
}
#footer #lowerFooter p {
	color: #7893AF;
	float: right;
	padding: 10px 0px 0px 0px;
	text-align: right;
	text-shadow: 1px 1px 1px #000000;
	width: 60%;
}
#footer #lowerFooter a {
	color: #7893AF;
	margin-left: 10px;
}
 @media screen and (max-width: 1044px) {
#footer .footerContent {
	font-size: 14px;
	min-width: auto;
	padding: 0 10px;
	width: auto;
}
#footer .column3 .columnsRight {
	float: left;
}
}
/* 990px */
@media screen and (max-width: 990px) {
#footer .column6 {
	width: 30%;
}
#footer .span2 {
	width: 65%;
}
}
/* 600px */
@media screen and (max-width: 600px) {
#footer .column3 {
	width: 100%;
	border: none;
	margin: 10px 0;
}
#footer .column6, #footer .span2, #footer .span2 ul, #footer #lowerFooter p {
	width: 95%;
}
#footer .column6, #footer .span2 {
	padding: 10px 0;
}
#footer #lowerFooter img, #footer #lowerFooter p {
	float: none;
	text-align: left;
	padding-bottom: 10px;
}
#footer #lowerFooter a {
	margin: 0;
	display: block;
}
}
