/* Author: Marquette University OMC Webteam
   ----------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	height: 100%;
	padding: 0;
	width: 100%;
	word-wrap: break-word;
	color: #666666;
}
a {
	text-decoration: none;
	color: #336699;
}
a:hover {
	text-decoration: underline;
}
a:hover.no_hover {
	border: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	color: #153252;
	padding: 5px 0 5px 0;
}
h1 {
	font-size: 20px;
	text-transform: none;
	font-weight: normal;
}
h2 {
	font-size: 18px;
	text-transform: none;
	font-weight: normal;
}
h3 {
	font-size: 16px;
	font-weight: bold;
}
h4 {
	font-size: 16px;
	font-weight: normal;
}
h5 {
	font-size: 14px;
	font-weight: bold;
}
h6 {
	font-size: 12px;
	font-weight: bold;
}
p {
	color: #666666;
	font-size: 14px;
	line-height: 160%;
	padding: 5px 0;
}
p.small {
	font-size: 12px;
	line-height: 21px;
	color: #666666;
	padding: 5px 0 5px 0;
}
hr {
	border: 0;
	height: 1px;
	background: #eee;
	background: -webkit-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
	background: -moz-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
	background: -ms-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
	background: -o-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
}
ul {
	margin: 0 0 5px 0;
	padding: 0 0 0 1.2em;
	font-size: 14px;
	line-height: 160%;
	color: #666;
}
ul li {
	list-style: square;
	padding: 0;
}
ul ul {
	list-style-position: inside;
	margin: 0 0 0 20px;
	padding: 0;
	line-height: 24px;
	color: #666;
}
ol {
	font-size: 14px;
	line-height: 24px;
	color: #666;
	margin: 0 0 5px 0;
	padding: 0 0 0 1.2em;
	list-style: decimal;
}
ol li {
	list-style: decimal;
	color: #666;
}
ol ol {
	line-height: 24px;
	list-style-position: inside;
	margin: 0 0 0 20px;
	padding: 0;
}

ol ul li {
    list-style: square outside none;
}
img {
	max-width: 100%;
	height: auto;
}
/* Table styles*/

table {
	width: 100%;
	margin: 10px 0;
	border-top: 3px solid #333;
	color: #333;
}
table tr:nth-child(odd) {
	background: #ccc;
}
table th {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #333;
	background: #f1f1f1;
	color: #333;
	font-weight: bold;
}
table td {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #333;
	vertical-align: top;
}
/* Form style */
textarea, input, select {
	width: 50%;
	border: 1px solid #153252;
	padding: 3px;
	margin: 5px 0;
}
input[type=submit], input[type=button], input[type=reset], button, input[type=radio], input[type=checkbox] {
	width: auto;
	background: #153252;
	color: #fff;
	padding: 3px 10px;
}
label {
	display: inline-block;
	margin: 5px 0;
	padding-right: 1%;
	vertical-align: top;
}
input[name=field_country_code] {
	width: 23px;
}
input[name=field_city_code] {
	width: 30px;
}
input[name=field_phone_int] {
	width: 100px;
}
/* Form assembly styles*/
.wFormContainer {
	width:100% !important;
}
.wFormContainer, .wForm fieldset, .wForm {
	padding: 0 !important;
	margin: 0;
	border: 0 !important;
}
.wForm .inputWrapper {
	display: block !important;
}
.wForm label {
	text-align: left;
}
.wForm legend {
	text-transform: uppercase;
	padding: 5px 0 !important;
	font-weight: bold;
	margin: 0 !important;
}
.wForm form .oneField {
	border-bottom: #ccc 1px solid;
}
.wForm .labelsLeftAligned label.preField, .wForm .labelsRightAligned label.preField {
	min-width: 10em !important;
	width: 10em !important;
}
.wForm .preField {
	min-width: inherit !important;
}
.wForm input[type="button"], .wForm input[type="submit"] {
	background: #153252 !important;
}
form.labelsAbove input[type=submit], form.labelsAbove input[type=button], form.labelsAbove input[type=reset], form.labelsAbove button, form.labelsAbove input[type=radio], form.labelsAbove input[type=checkbox] {
	width: auto;
	height:auto;
}
.wForm form .oneChoice label {
	margin: -2px 10px 10px 10px !important
}
.wFormContainer .supportInfo {
	display: none;
}
/* Global styles*/

.float_clear {
	clear: both;
}
.imageFloat {
	float: left;
	margin: 5px 15px 15px 0;
}
.floatLeft {
	float: left;
	width: 45%;
}
/* Document styles*/
a[href$=".pdf"] {
	content: "";
	background: url('//dev-sandbox.marquette.edu.php53-7.dfw1-2.websitetestlink.com/wp-content/themes/MU/images/PDF_graphic_small.png') center right no-repeat;
	padding-right: 18px;
}
a[href$=".docx"] {
	content: "";
	background: url('//dev-sandbox.marquette.edu.php53-7.dfw1-2.websitetestlink.com/wp-content/themes/MU/images/WORD_graphic_small.jpg') center right no-repeat;
	padding-right: 18px;
}
a[href$=".doc"] {
	content: "";
	background: url('//dev-sandbox.marquette.edu.php53-7.dfw1-2.websitetestlink.com/wp-content/themes/MU/images/WORD_graphic_small.jpg') center right no-repeat;
	padding-right: 18px;
}
/* Structural elements */
#container {
	margin: 0 auto;
	width: 100%;
}
#wrapperContent {
	clear: both;
	color: #333333;
	margin: 0 auto 60px;
	padding: 1px 0 0 0;
	position: relative;
	width: 1024px;
	z-index: 101;
}
/* Main image */
#mainImage {
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 100;
}
#mainImage img {
	width: 100%;
}

#mainImage .slide { position: relative; }
#mainImage .slide > strong { display: block; position: absolute; top: 30%; left: 50px; padding: 5px; background: rgba(0,0,0,0.5); color: #fff; text-transform: uppercase; font-size: 24px; }
#mainImage .slide p { position: absolute; top: 50%; left: 65px; padding: 5px; background: rgba(0,0,0,0.5); color: #fff; }
#mainImage .slide p a { color: #FFCC00; text-decoration: none; }

/* Page identity */
 
#pageIdentity {
	padding: 20px 3% 15px 0;
	position: relative;
	z-index: 100;
}
#breadcrumbs {
	padding: 3px 0;
}
#breadcrumbs p {
	color: #666;
	padding: 0;
	font-size: 11px;
}
#breadcrumbs a {
	font-size: 11px;
}
#pageName {
	padding: 3px 0;
	margin: 0;
}
#pageName h1 {
	color: #153252;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0;
}
#wideContent {
	margin-top: 0;
	float: left;
	padding: 0 0 0 10px;
	width: 100%;
}
/* Left Column */
#leftContent {
	margin-top: 0;
	float: left;
	padding: 0 0 0 10px;
	width: 62%;
}
#leftContent h2 {
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	text-transform: none;
	padding-top: 15px;
}
#leftContent ul {
	list-style-position: outside;
	margin-top: 10px;
	padding: 0 0 0 1.25em;
}
#leftContent li {
	color: #666666;
	line-height: 160%;
	padding: 0 0 10px;
}
#leftContent img.bioImage {
	width: auto;
	border: 1px solid #EEEEEE;
	padding: 3px;
	float: left;
	margin: 0 15px 15px 0;
}
/* 2 column layout */
#leftContent #leftColumn {
	width: 45%;
	margin-right: 10%;
	float: left;
}
#leftContent #rightColumn {
	width: 45%;
	float: left;
}
/* More information */
#leftInformation {
	float: left;
	margin: 25px 30px 10px 0;
	width: 50%;
	background: #EEF3FF;
	border: 1px solid #336699;
}
#leftInformation h1 {
	font-size: 14px;
	text-shadow: 1px 1px 3px #333;
	line-height: normal;
	text-transform: uppercase;
	position: relative;
	width: 80%;
	padding: 6px 6px 6px 30px;
	margin: -15px 10px 0 -20px;
	color: #fff;
	background-color: #336699;
	text-shadow: 1px 1px 3px #000000;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
#leftInformation h1:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #153252 #153252 transparent transparent;
}
#leftInformation h1:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}
#leftInformation ul {
	list-style: inside square;
	color: #666666;
	padding: 5%;
	margin: 0;
}
#leftInformation li {
	color: #666666;
	line-height: 130%;
	list-style: square inside none;
	padding: 0 0 10px;
}
#leftInformation p {
	padding: 5%;
}
/* More information */
#relatedInfo {
	background: #eef3ff;
	padding: 3%;
	margin-top: 30px;
	min-height: 150px;
}
#relatedInfoLeft {
	float: left;
	padding: 0 3% 0 0;
	width: 22%;
}
#relatedInfoLeft h2 {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	padding-top: 10px;
}
#relatedInfo img {
	border: 1px solid #eee;
	padding: 3px;
	width: 98%;
	background: #fff;
}
#relatedInfoRight {
	float: left;
	width: 64%;
}
/* pageLinks */
 
.pageLinks {
	display: inline-block;
	zoom: 1;
	margin: 0 2% 4% 0;
	vertical-align: top;
	width: 22%;
}
.ie7 .pageLinks {
	display: inline;
}
.pageLinks h2 {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 16px 0 0;
	text-transform: uppercase;
}
.pageLinks ul {
	list-style-position: outside;
	margin-top: 10px;
	padding: 0 0 0 13px;
}
.pageLinks li {
	color: #666666;
	line-height: 130%;
	list-style: outside square;
	padding: 0 0 10px;
}
/* pageLinks */
 
.pageLinksWide {
	display: inline-block;
	zoom: 1;
	margin: 0 3% 4% 0;
	vertical-align: top;
	width: 46%;
}
.ie7 .pageLinksWide {
	display: inline;
}
.pageLinksWide h2 {
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 16px 0 0;
	text-transform: uppercase;
}
.pageLinksWide ul {
	list-style-position: outside;
	margin-top: 10px;
	padding: 0 0 0 13px;
}
.pageLinksWide li {
	color: #666666;
	line-height: 160%;
	list-style: outside square;
	padding: 0 0 10px;
}
/*Right sidebar styles*/
#sidebarRightImage {
	margin: 0;
	float: right;
	width: 350px;
}
#sidebarRight {
	float: right;
	margin: -50px 10px 0 0;
	position: relative;
	width: 330px;
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	display: block;
	z-index: 102;
}
#sidebarRight:before, #sidebarRight:after {
	content: "";
	display: block;
	position: absolute;
	width: auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1
}
#sidebarRight:before {
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	max-height: 450px;
}
#sidebarRight:after {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
	background: linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
	height: 310px;
	left: -8px;
	right: -8px;
	top: 150px;
}
#sidebarRight #columnHeader {
	background: #153252; /* default fallback */
	background: rgba(21, 50, 82, 0.8);
	margin: 0 auto;
	padding: 15px 3px 15px 15px;
	-webkit-box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
}
#sidebarRight #content {
	background: #fff; /* default fallback */
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	line-height: 19px;
	margin: 0 auto;
	min-height: 410px;
	padding: 15px;
}
#sidebarRight #columnHeader h1 {
	color: #FFFFFF;
	font-family: 'Univers LT W01 55 Roman', arial;
	font-size: 20px;
	margin: 0;
	text-transform: uppercase;
	padding: 0;
	text-shadow: 1px 1px 3px #000;
	line-height: 100%;
	font-weight: bold;
}
#sidebarRight #columnHeader h2 {
	color: #ffcc00;
	font-family: 'Univers LT W01 55 Roman', arial;
	font-size: 10px;
	margin: 0;
	text-transform: uppercase;
	padding: 0 0 6px 0;
	line-height: 100%;
}
#sidebarRight #content h2 {
	font-size: 16px;
	color: #153252;
	text-transform: uppercase;
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: normal;
	font-family: 'Univers LT W01 55 Roman', arial;
}
#sidebarRight #content h3 {
	font-size: 14px;
	color: #153252;
	text-transform: none;
	padding: 10px 0;
	margin: 0;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
#sidebarRight #content h3:first-child {
	padding: 0 0 10px 0;
}
#sidebarRight #content h2:first-child {
	padding: 0 0 6px 0;
}
#sidebarRight #content img {
	margin: 5px 15px 10px 0;
	float: left;
	width: 100px;
}
#sidebarRight #content p {
	font-size: 14px;
	padding: 0 0 10px 0;
	margin-top: 2px;
}
#sidebarRight #content ul {
	margin-top: 5px;
	list-style-position: outside;
	padding: 0;
}
#sidebarRight #content li {
	color: #666666;
	line-height: 130%;
	list-style: none outside none;
	padding: 0 0 10px;
}
/* More information */
#rightInformation {
	float: right;
	margin: 25px 0 10px 30px;
	width: 320px;
	background: #FFFAE6;
	border: 1px solid #eeaa00;
}
#rightInformation h1 {
	font-size: 14px;
	text-shadow: 1px 1px 3px #333;
	line-height: normal;
	text-transform: uppercase;
	position: relative;
	width: 80%;
	padding: 6px 6px 6px 30px;
	margin: -15px 10px 0 -20px;
	color: #fff;
	background-color: #eeaa00;
	text-shadow: 1px 1px 3px #af8520;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
#rightInformation h1:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #af8520 #af8520 transparent transparent;
}
#rightInformation h1:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}
#rightInformation p {
	padding: 2% 3%;
}
#rightInformation img {
	width: 100%;
	padding: 0;
	margin-top: -14px;
}
/*Bottom content layout*/
#bottomContent {
	width: 100%;
	padding-top: 20px;
	margin-top: 20px;
	clear: both;
}
#bottomContent ul {
	list-style-position: outside;
	margin-top: 10px;
	padding: 0;
}
#bottomContent li {
	color: #666666;
	line-height: 130%;
	list-style: none outside none;
	padding: 0 0 10px;
}
/* Facebook responsive */
#fb-root {
	display: none;
}
.fb_ltr {
	width: 100%;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;
}
/* YouTube responsive */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.caption {
	padding: 10px 0;
	text-align: center;
	font-style: italic;
}
/* Cascasding overrides */
.noPadding {
	padding: 0;
}
.noMargin {
	margin: 0;
}
/* 1075px */
@media screen and (max-width:1075px) {
#wrapperContent, #bottomContent {
	min-width: 100%;
	width: 100%;
}
#bottomContent {
	padding: 20px 1% 0;
	width: 98%;
	min-width: 98%;
}
#sidebarRightImage {
	width: 34.15%;
	margin-right: 0;
}
#sidebarRight {
	margin-right: 10px;
	width: 93.6%;
}
#rightInformation {
	width: 27%;
}
#relatedInfo {
	margin: 0 auto;
	width: auto;
}
}
 @media screen and (max-width: 930px) {
.pageLinks {
	width: 46%;
}
.pageLinks:nth-child(3n+3) {
	margin: 0 3% 4% 0;
}
#sidebarRight #columnHeader h1 {
	font-size: 16px;
	padding: 2px 0;
}
}
 
/* 700px */
@media screen and (max-width:700px) {
body {
	background: #fefefe;
}
#container {
	height: 0;
	/* 39% being the ratio we are maintaining 
	 * calculated by looking at the image 
	 * ratio: 400/1024 = ~0.39 */
	padding: 0 0 45%;
	margin: 0 auto;
	background: #fefefe;
}
#wrapperContent {
	padding: 0;
	width: auto;
	min-width: inherit;
	margin: 0;
}
#pageIdentity {
	padding-top: 0;
}
#mainImage {
	float: none;
	margin: 10px 10px 5px 0;
	width: 46%;
}
#mainImage img {
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	width: 100%;
	border: none;
	padding: 0;
}
#leftContent, #bottomContent {
	float: none;
	filter: none; /* for IE */
	margin: 0;
	padding: 5px 10px;
	width: auto;
	min-width: inherit;
	background: #fefefe;
}
#leftContent {
	padding-top: 15px;
	min-height: inherit;
}
#bottomContent {
	border-top: 1px solid #eee;
}
#leftContent #leftColumn, #leftContent #rightColumn, .pageLinksWide {
	width: 100%;
	float: none;
	margin-right: 0;
}
#sidebarRight, #sidebarRight:after, #sidebarRight:before, #sidebarRightImage, #sidebarRight #columnHeader {
	background: none;
	float: none;
	filter: none; /* for IE */
	margin: 0 0 20px;
	padding: 0;
	width: 100%;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#sidebarRightImage {
	margin: 20px 0 0 0;
	width: auto;
	height: auto;
	border-top: 1px solid #eee;
	min-height: inherit;
	padding: 5px 10px;
}
#sidebarRight #columnHeader {   
	padding: 20px 0 0 0;
	margin: 0; 	
}
#sidebarRight #columnHeader h1 {
	text-shadow: none;
	color: #003366;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
#sidebarRight #content {
	float: none;
	background: none;
	filter: none; /* for IE */
	margin: 0;
	padding: 0;	 
	width: auto;
	max-height: auto;
	min-height: inherit;
	height: auto; 
}
#sidebarRight img {
	float: none;
	filter: none; /* for IE */
	margin: 0 0 20px;
	background: #fff;
}
#sidebarRight #content h1, #sidebarRight #content ul {
	padding: 3px 0px;
	line-height: 200%;
}
#sidebarRight #content h2 {
	text-transform: none;
}
#sidebarRight #content li a {
	color: #336699;
}
#sidebarRight #content p {
	padding: 10px 0;
}
#sidebarRight #bigBoxAdWrapper {
	max-width: 400px;
	margin: 0px auto;
}
#sidebarRight #bigBoxAdWrapper #title {
	top: 170px;
}
#sidebarRight #bigBoxAdWrapper #subtitle {
	top: 200px;
}
#relatedInfoLeft, #relatedInfoRight {
	width: 46%;
}
}
/* 481px */
@media screen and (max-width:481px) {
#mainImage, #relatedInfoLeft, #relatedInfoRight {
	width: 100%;
	float: none;
}
#mainImage img {
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	width: 100%;
	border: none;
	padding: 0;
}
.pageLinks, .pageLinksWide {
	width: 99%;
}
.pageLinks h2, .pageLinksWide h2 {
	padding: 10px 0 0 0;
	margin: 0;
}
.pageLinks img {
	width: 97%;
}
#bottomContent .feature {
	margin: 0 0 5% 0;
	width: 98%;
}
#bottomContent .feature:after, #bottomContent {
	clear: both;
	float: none;
}
#bottomContent .feature img {
	border: none;
	padding: 0;
}
.tableWrapper {
	display: inline-block;
	overflow-x: auto;
	overflow-y: hidden;
	table-layout: fixed;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	word-wrap: break-word;
}
table {
	border-top: 3px solid #CCCCCC;
	color: #666666;
	margin: 10px 0;
}
textarea, input, select {
	width: 90%;
}
label {
	display: block;
	text-align: left;
	width: auto;
}
}
@media print and (color) {
* {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}
#goldBar, #topNavigation, #menuOne, #menuTwo, #menuThree, #menuFour, #menuFive, #menuSix, #menuSeven, #mobile, #footer {
	display: none;
	visibility: hidden;
}
#wrapperContent {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: none;
	clear: both;
	color: #333333;
	margin: 0 auto;
	padding: 0;
	position: relative;
	transition: none 0s ease 0s;
}
#sidebarRight #content {
	background: #eee;
}
#sidebarRight:before {
	box-shadow: none;
}
#bannerText h1, #bannerText p {
	color: #FFFFFF;
	text-shadow: none;
}
#sidebarRight #columnHeader {
	background-color: #153252;
}
#sidebarRight #columnHeader h1 {
	color: #FFFFFF;
	text-shadow: none;
}
}

 
.author-wrp             {width: 100%; display: block;}
.author-wrp .author 	{width: 48%; display:block; height:188px; margin-bottom:25px; color: #666666; font-size: 14px; line-height: 160%;}
.author-wrp .author img {height: 200px; width: 200px; margin-right: 15px; border: 1px solid #EEEEEE; padding: 3px; float: left;}
.author-wrp .post-0		{float: left;}
.author-wrp .post-1		{float: right;}

#sidebarRight #content .no-resize-img img { margin: 5px; float: left; max-width: 25px; }
.profilePhoto{padding-right:20px;padding-bottom:20px;}
a.hide-class::before{content: "\25B2  ";}
a.show-class::before{content: "\25BC  ";}
.intro {font-size:1.25rem; font-weight:lighter;}
   h3 {border-top:1px solid #ebebeb; padding-top:20px; margin-top:20px;}
   .icon{vertical-align:middle; padding-right:10px;}
   #facultySearch label {display:inline-block; width:auto; line-height:30px;}
    #facultySearch form{width:100%; display:inline-block;}
   #facultySearch{background:#ebebeb; padding:10px;}
   #facultySearchAutoComplete{height: 20px; font-size:1.2em; max-width:300px; }
   #collegelist{max-width:250px;}
   #submitButton {line-height: 25px; font-size:1.0em; font-weight:normal; margin:0px; }
   .autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
.placeholder{ color: #aaa;}
.facultyFilter {background: #ebebeb; padding: 10px; margin-left: -10px; margin-right: 10px;}
.facultyFilter input {width: 36% !important; margin-right: 15px; font-size:16px !important;}
.facultyFilter select {width: 38% !important;}

/* TAB CSS */
.resp-tabs {
	vertical-align: top;
}
.resp-tabs-list {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #CCCCCC;
	margin: 0px;
	padding: 0px;
}
#leftContent .resp-tabs-list li, .resp-tabs-list li {
	color: #336699;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	list-style: none outside none;
	margin: 0;
	padding: 1% 2%;
}
.ie7 #leftContent .resp-tabs-list li, .ie7 .resp-tabs-list li {
	display: inline;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
	border: 1px solid #ccc;
	margin-top: -2px;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 2%;
}
.resp-tab-active {
	border-bottom: #fff;
	color: #666666 !important;
	background: #fff;
}
.resp-content-active {
	display: block;
}
/*#leftContent*/ 
h2.resp-accordion {
	border: 1px solid #ccc;
	margin: -1px 0 0 0px;
	padding: 10px 2%;
}
h2.resp-tab-active {
	margin-bottom: 0px !important;
	background: #eee;
}
#leftContent .resp-vtabs ul.resp-tabs-list, .resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 25%;
	margin-top: 0;
	padding: 0;
}
.resp-vtabs .resp-tabs-list li {
	display: block !important;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	width: 74%;
	min-height: 400px;
	clear: none;
	margin: 0 0 0 -1px;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
/*#leftContent*/ .resp-vtabs li.resp-tab-active {
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
*/ /*-----------Accordion styles-----------*/
h2.resp-tab-active {
 background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
 

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
	border-top: none;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}


/* Gold theme */

.gold, .gold .resp-accordion .resp-tab-active, .gold h2.resp-accordion.resp-tab-active {
	background: #ffcc00 !important;/* Old browsers */
	background: -moz-linear-gradient(top, #ffcc00 0%, #fffcc1 66%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcc00), color-stop(66%, #fffcc1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcc00 0%, #fffcc1 66%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcc00 0%, #fffcc1 66%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcc00 0%, #fffcc1 66%); /* IE10+ */
	background: linear-gradient(to bottom, #ffcc00 0%, #fffcc1 66%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#fffcc1', GradientType=0 ); /* IE6-9 */
}
.gold-lt, .gold .resp-tab-active {
 background: #ffe88c  /* Old browsers */
background: -moz-linear-gradient(top, #ffe88c 0%, #fffcce 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe88c), color-stop(99%, #fffcce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffe88c 0%, #fffcce 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffe88c 0%, #fffcce 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffe88c 0%, #fffcce 99%); /* IE10+ */
	background: linear-gradient(to bottom, #ffe88c 0%, #fffcce 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe88c', endColorstr='#fffcce', GradientType=0 ); /* IE6-9 */
}
.gold .resp-tabs-list {
	background: #ffcc00;
}
.gold .resp-tabs-list li {
	color: #C2960A;
	min-height: 35px;
}
.gold .resp-tab-item.resp-tab-active {
	color: #0066aa;
}
 
div.TabbedPanelsContent div 	  {min-height:200px;}
.TabbedPanelsContent .thumb1 img, .TabbedPanelsContent .thumb img {float:left; padding:0 10px 10px 0; /*margin-right:.5em !important; */}


#leftContent img, #leftContentFull img {float: left; margin-top: 15px; margin-right: 10px; margin-bottom: 10px;}
.author #leftContent img, .author  #leftContentFull img {float: none; margin-top: 15px; margin-right: 10px; margin-bottom: 10px;}

.thumb {width: 100%; display: inline-block;}

.responsive-tabs__panel--active li {width: 100%; display: inline-block;}
.responsive-tabs__panel--active li img, .responsive-tabs__panel--active li img {

    margin-top: 40px !important;

}

@media only screen and (max-width: 700px) {
 .author-wrp {float:left}
 .author-wrp .author {width: 100%; }
 #leftContent .intro {    width: 100%; display: inline-block;}
}



