#quicksearch {
	font-size: 20px;
}

.button {
  color: #35679a;
  background: none;
  border: 1px solid #DCDCDC;
  margin-bottom: 3px;
}

.button.is-checked {
  background: #f5f5f5;
}

.button[data-filter = '*'] {
  border-left: 3px solid #ffcc00;
}
.button[data-filter = '.category-organizational-effectiveness'] {
  border-left: 3px solid #FFCC00;
}
.button[data-filter = '.category-mind-and-heart'] {
  border-left: 3px solid #ff00b2;
}
.button[data-filter = '.category-well-being'] {
  border-left: 3px solid #003366;
}
.button[data-filter = '.category-research'] {
  border-left: 3px solid #5f87af;
}
.button[data-filter = '.category-social-responsibility'] {
  border-left: 3px solid #ff8300;
}
.button[data-filter = '.category-sustainability'] {
  border-left: 3px solid #54db4a;
}


.element-item {
  position: relative;
  float: left;
  width: 320px;
  min-height: 320px;
  margin: 5px 5px 0 0;
  padding: 10px;
  background: #f7f2f2;
  color: #262524;

  z-index: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.element-item {
	background: #f5f5f5;
	border: 1px solid #dcdcdc;
  border-left: 5px solid #003366 ;
}
.element-item-open {
  width: 400px;
  height: auto;
  max-height: none;
  z-index: 100;
}

.element-item-open .show-more {display: block;}
.element-item-open .show-less {display: none;}
.show-more {display: none; }

.element-item.category-mind-and-heart {
  background: #F5F5F5;
  border-left: 5px solid #ff00b2;
}
.element-item.category-organizational-effectiveness {
  background: #F5F5F5;
  border-left: 5px solid #FFCC00;
}
.element-item.category-research {
  background: #F5F5F5;
  border-left: 5px solid #5f87af;
}
.element-item.category-social-responsibility {
  background: #F5F5F5;
  border-left: 5px solid #ff8300;
}
.element-item.category-sustainability {
  background: #F5F5F5;
  border-left: 5px solid #54db4a;
}
.element-item.category-well-being {
  background: #F5F5F5;
  border-left: 5px solid #003366;
}

.element-item.category-faculty-led:before {
  content: "FACULTY LED";
  font-size: 70%;
  position: absolute;
  top: 5px;
  right: 1px;
  opacity: 0.4;
}

.element-item.category-staff-led:before {
  content: "STAFF LED";
  font-size: 70%;
  position: absolute;
  top: 5px;
  right: 1px;
  opacity: 0.4;
}

.element-item.category-student-led:before {
  content: "STUDENT LED";
  font-size: 70%;
  position: absolute;
  top: 5px;
  right: 1px;
  opacity: 0.4;
}

.element-item h1 {
  line-height: 22px;
  font-size: 18px;
}

.more {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-weight: bolder;
  color: #0066cc;
  background: #f7f2f2;
  cursor: pointer;
  /*border: 2px solid #ffcc00;*/
}
h2.author       {text-decoration: none; line-height: 22px; font-size: 18px; color: #336699;  width: 170px;}
h3.author-title {font-size: 16px; font-weight: normal; line-height: normal; text-transform: none; padding-top: 15px;}
.post-txt       {    color: #666666;
    font-size: 14px;
    line-height: 160%;
    padding: 5px 0;}
.date-info      {position: absolute; right: 10px; top: 10px; width: 177px;}
.activity       {font-size: 70%;  position: absolute; top: 18px;   right: 1px; opacity: 0.4; }
.date           {font-size: 70%;  position: absolute; right: 1px; opacity: 0.4; top: 5px; right: 1px; }
.blog-filter    {width: 33%; float:left;}
.filter-wrp     {height: 60px;}
.blog-filter label {width: 100%; float: left;}
.blog-filter select{width: 80%; float: left;} 