/* Author: Marquette University OMC Webteam
   ----------------------------------------------------*/
/* Navigation Bar styles */
#menu li#mobileHome {
	display: none;
}
#goldBar {
	float: left;
	position: absolute;
	height: 100px;
	width: 10px;
	z-index: 10001;
	background: none repeat scroll 0 0 #FFCC00;
}
#topNavigation {
	background: url("../images/background.jpg") no-repeat scroll center top #fff;
	float: none;
	margin: 0 auto;
	width: 100%;
	z-index: 1000;
	min-height: 100px;
	text-align: center;
	padding: 0;
	position: relative;
}
body#home #topNavigation {
	height: 100px;
}
#topTools {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-align: right;
	padding: 0;
}
#home #topTools #homepageLink {
	display: none;
}
#topTools ul {
	width: 1000px;
	margin: 0 auto;
	padding: 0 0 0 1%;
}
#topTools li {
	color: #ffcc00;
	text-shadow: 1px 1px 1px #000;
	filter: Shadow(Color=black, Direction=130, Strength=2);
	font-size: 10px;
	display: inline;
	text-transform: uppercase;
	font-family: 'Univers LT W01 55 Roman', arial;
}
#topTools li a {
	color: #BBD1E1;
	padding: 0 5px;
	margin: 0 5px;
}
#topTools li:last-child a {
	padding-right: 0;
	margin-right: 0;
}
ul#menu {
	margin: 11px auto 0;
	width: 1024px;
	position: relative;
	text-align: left;
	padding: 0;
	-moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	background: #153252;
}
#menuHeight {
	height: 100px;
}
#menu > li {
	display: inline-block;
	list-style: none;
}
.ie7 #menu > li {
	float: left;
}
#menu > li a.mainItem {
	color: #BBD1E1;
	text-transform: uppercase;
	padding: 5px 20px;
	text-shadow: 1px 1px 1px #000000;
	display: inline-block;
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.page-template-tmpl-search #menu > li#navTwo a.mainItem, 
.page-template-tmpl-authors #menu > li#navThree a.mainItem, 
.author #menu > li#navThree a.mainItem,
.page-id-304  #menu > li#navFour a.mainItem,
.page-id-87  #menu > li#navFive a.mainItem,
.page-id-312  #menu > li#navSix a.mainItem,
.page-id-2167  #menu > li#navSeven a.mainItem   

 {
	color: #ffcc00 !important;
	background-color: #0e2136;
	text-decoration: none;
}
#menu > li a.mainItem:hover, #menu a.active, #menu a.active:hover {
	color: #ffcc00 !important;
	background-color: #0e2136;
	text-decoration: none;
}
#logo {
	width: 1024px;
	margin: -13px auto 0;
	min-height: 49px;
}
#logo img {
	border: 0;
	padding: 0 3% 0 0;
	float: left;
}
#logo:after {
	clear: both;
}
#siteTitle h1 {
	font-family: 'Univers LT W01 55 Roman', arial;
	font-size: 24px;
	padding: 23px 20px 0 0;
	text-rendering: optimizelegibility;
	filter: Shadow(Color=black, Direction=130, Strength=2);
	text-shadow: 1px 1px 1px #000000;
	text-transform: uppercase;
	transition: all 0.2s linear 0s;
	color: #fff;
	text-align: left;
}
#siteTitle h1 a {
	color: #fff;
}
#menu #navOne, #menu #navTwo, #menu #navThree, #menu #navFour, #menu #navFive, #menu #navSix, #menu #navSeven {
	margin: 0;
}
#menu li .arrowDown:after {
	width: 5px;
	content: "  ▾";
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0.2;
	/* Safari 1.x */
	-khtml-opacity: 0.2;
	opacity: 0.2;
	color: #fff;
	text-decoration: none;
}
.ie7 #menu li .arrowDown:after, .ie8 #menu li .arrowDown:after {
	display: none;
}
#menu li:hover .arrowDown:after {
	opacity: 1;
	color: #ffcc00;
	text-decoration: none;
}
body#one #menu li#navOne a.mainItem, body#two #menu li#navTwo a.mainItem, body#three #menu li#navThree a.mainItem, body#four #menu li#navFour a.mainItem, body#five #menu li#navFive a.mainItem, body#six #menu li#navSix a.mainItem, body#seven #menu li#navSeven a.mainItem {
	color: #ffcc00;
	background: #0E2136;
}
#menu #menuOne, #menu #menuTwo, #menu #menuThree, #menu #menuFour, #menu #menuFive, #menu #menuSix, #menu #menuSeven {
	display: none;
}
.display {
	display: block;
}
.menubox1 ul li, .menubox2 ul li, .menubox3 ul li {
	list-style: none;
	list-style: outside;
	display: block;
	text-transform: none;
	padding: 0 0 10px 0;
	margin: 0;
}
.menubox1 h1, .menubox2 h1, .menubox3 h1 {
	text-transform: none;
	color: #ffffff;
	font-family: arial;
	font-size: 24px;
	padding: 0px 0 5px;
	font-weight: normal;
	display: block;
	float: none;
}
.menubox1 h2, .menubox2 h2, .menubox3 h2 {
	text-transform: uppercase;
	color: #fc0;
	font-family: 'Univers LT W01 55 Roman', arial;
	font-size: 100%;
	padding: 10px 0 0px;
	font-weight: normal;
	font-size: 14px;
}
.menubox1 p, .menubox2 p, .menubox3 p {
	line-height: 140%;
	color: #fff;
	padding: 0;
	font-size: 14px;
}
.menubox1 img, .menubox2 img, .menubox3 img {
	float: left;
	padding: 5px 10px 10px 0;
}
.menubox1 ul, .menubox2 ul, .menubox3 ul {
	list-style: none;
	margin: 0px;
	line-height: 140%;
	padding: 0px;
	font-size: 14px;
}
.menubox1 ul li, .menubox2 ul li, .menubox3 ul li {
	padding: 0 0 5px;
	color: #fff;
}
.menubox1 a, .menubox2 a, .menubox3 a {
	color: #BBD1E1;
	font-size: 14px;
	text-transform: none;
}
.menubox1 ul li a, .menubox2 ul li a, .menubox3 ul li a {
	color: #BBD1E1;
	text-decoration: none;
}
.menubox1 ul li a:hover, .menubox2 ul li a:hover, .menubox3 ul li a:hover {
	text-decoration: underline;
}
/* One column */
.menubox1 {
	height: 275px;
	overflow: hidden;
	margin: 0;
	width: 260px;
	background-color: #0e2136;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	padding: 10px 15px 0;
	text-align: left;
}
/* Two columns */
.menubox2 {
	height: 275px;
	overflow: hidden;
	margin: 0;
	width: 520px;
	background-color: #0e2136;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	padding: 10px 15px 0;
	text-align: left;
}
.menubox2 .left, .menubox2 .right {
	width: 45%;
	float: left;
}
.menubox2 .left {
	padding-right: 5%;
}
/* Three columns with left headline */
.menubox3 {
	height: 275px;
	overflow: hidden;
	margin: 0 auto 0;
	width: 994px;
	background-color: #0e2136;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	padding: 10px 15px 0;
	left: 0;
	text-align: left;
	position: absolute;
}
.menubox3 .twoCol {
	width: 65%;
	float: left;
	padding-right: 5%;
}
.menubox3 .rightCol {
	width: 30%;
	float: left;
}
.menubox3 .twoCol h1 {
	text-transform: none;
	font-size: 24px;
	color: #ffcc00;
}
.menubox3 .twoCol .left, .menubox3 .twoCol .right {
	width: 45%;
	float: left;
}
.menubox3 .twoCol .left {
	padding-right: 5%;
}
.alignRight {
	position: relative;
}
.alignRight .menubox2, .alignRight .menubox1 {
	right: 0;
}
/* Button style */
.homeButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color: #3d94f6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #337fed;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 5%;
	text-decoration: none;
	text-shadow: 1px 1px 0px #1570cd;
	width: 90%;
	text-align: center;
}
.homeButton:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background: -moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color: #1e62d0;
}
.homeButton:active {
	position: relative;
	top: 1px;
}  
/* Hide menuContainer */
#socialMenu-menuContainer, #bannermenuContainer, #aboutmenuContainer, #mobile-header, #button, #mobile {
	display: none;
} 
@media screen and (max-width:1075px) {
ul#menu {
	width: 100%;
	z-index: 10002;
	position: relative;
	padding: 0;
}
#logo {
	padding: 0 2%;
	width: 96%;
}
#goldBar, #topNavigation, body#home #topNavigation {
	height: auto;
	min-height: 81px;
}
.menubox3 {
	left: 0;
	width: auto;
	overflow: visible;
	min-height: 275px;
	height: auto;
	padding-bottom: 10px;
	margin-top: 0;
}
#topTools ul {
	width: 99%;
	padding: 0 1% 0 0;
}
li#siteTitle h1 {
	left: 206px;
}
}
/* 940px */
@media screen and (max-width:940px) {
#menu > li a.mainItem {
	font-size: 96%;
}
#menu li .arrowDown:after {
	display: none;
}
.menubox1,
.menubox2,
.menubox3{
	display: none;
	visibility: hidden; 
} 
}
/* 874px */
@media screen and (max-width:874px) {
#menu > li a.mainItem {
	font-size: 90%;
	padding: 5px 10px;
}
#siteTitle h1 {
	font-size: 150%;
}
}
/* 700px */
@media screen and (max-width:700px) {	
#topNavigation {
	min-height:inherit;
}
ul#menu {
	margin:0 auto;
	padding-bottom: 0;
	background: url("../images/dropdown-background.jpg") no-repeat scroll center -86px #153252;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	 height:0;
	 overflow:hidden;
	 text-align:center;
}
.activeMenu {
	height: auto !important;
	margin: -14px auto 0  !important;
	padding-bottom: 10px  !important;
}
#goldBar, .dropdown, #siteTitle, #topTools li#homepageLink, #topTools, #logo {
	display: none;
}    
#menu > li, #menu > li a.mainItem {
	display:block;
	text-align:center;
} 

#button, #searchButton { 
	display: inline-block;
	 background: none repeat scroll 0 0 #153252;
    border: 1px solid #BBD1E1;
    color: #BBD1E1; 
	text-align: center;
	 margin: 3px;
    padding: 3px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    width: 38%; 
	font-size: 120%; 
}
.ie7 #button, .ie7 #searchButton {
	display: inline;
}
#button:hover {
	cursor: pointer;
} 
#searchButton a{
	text-decoration:none;
}
#topNavigation .float_clear {
	display:none;
}
#menuContainer #searchButton a {
	 color: #BBD1E1; 
}
#menu #navOne, #menu #navTwo, #menu #navThree, #menu #navFour, #menu #navFive, #menu #navSix, #menu #navSeven {
	 border: 1px solid #BBD1E1;
	 border-top: none;
    margin: 0 auto;
	background:#153252;
    width: 90%;
} 
#menu #navOne {
border-top: 1px solid #BBD1E1
}


/* Top branding */
#menuContainer a {
	color: #fff;
}
#menuContainer #mobile-header {
	background: url("../images/dropdown-background.jpg") no-repeat top center #153252;
	padding: 0 0 10px 0;
	border-top: 3px solid #ffcc00;
	text-align: center;
	display:block;
}
#menuContainer #mobile-header img {
	padding: 10px 0;
}
#menuContainer #mobile-header h1 {
	color: #fff;
	font-size: 1.5em;
	padding: 0px 0 5px 5px;
	margin: 0;
	text-transform: uppercase;
	line-height: normal;
	text-align: center;
}
#menuContainer #mobile-header h2 {
	color: #ffcc00;
	font-size: 1em;
	text-transform: uppercase;
	padding: 15px 0 0 5px;
	margin: 0;
	line-height: normal;
	text-align: center;
}
#menuContainer #mobile-header h1 a {
	color: #fff;
}
#menuContainer #mobile-header h2 a {
	color: #ffcc00;
}
.menuHighlight {
	background: #BBD1E1 !important;
	color: #153252 !important;
	text-shadow: none !important;
}

/* Document styles*/
#menuContainer #menu > li a[href$=".pdf"] {
	content: "";
	background: none;
	padding-right: 0;
}
#menuContainer #menu > li a[href$=".docx"] {
	content: "";
	background: none;
	padding-right: 0;
}
#menuContainer #menu > li a[href$=".doc"] {
	content: "";
	background: none;
	padding-right: 0;
}
}



