/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=cd1a7ad6-3abb-4685-8e3b-6785749c416f");

@font-face{
font-family:"Univers LT W01 55 Roman";
src:url("fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix");
src:url("fonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix") format("eot"),url("fonts/7b95cb9a-a288-4405-97a0-13095f56a903.woff") format("woff"),url("fonts/c7481806-4ea4-40db-a623-7bc352bbbe43.ttf") format("truetype"),url("fonts/ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9") format("svg");
}
 
@font-face{
font-family:"UniversLTW01-57Condense 723821";
src:url("fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix");
src:url("fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix") format("eot"),url("fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff") format("woff"),url("fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf") format("truetype"),url("fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670") format("svg");
}
 
@font-face{
font-family:"Univers LT W01 65 Bold";
src:url("fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix");
src:url("fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix") format("eot"),url("fonts/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff") format("woff"),url("fonts/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf") format("truetype"),url("fonts/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d") format("svg");
}
@font-face{
font-family:"UniversLTW01-67BoldCn";
src:url("fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix");
src:url("fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix") format("eot"),url("fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff") format("woff"),url("fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf") format("truetype"),url("fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402") format("svg");
}
@font-face{
font-family:"Univers LT W10 75 Black";
src:url("fonts/755a2fb6-a9d2-45ee-ac5d-642a5971af0e.eot?#iefix");
src:url("fonts/755a2fb6-a9d2-45ee-ac5d-642a5971af0e.eot?#iefix") format("eot"),url("fonts/acf98bb2-eb76-460a-b1e1-0cacfc0d0ef4.woff") format("woff"),url("fonts/046c1b67-86b1-48e2-8c6c-74acbafeff46.ttf") format("truetype"),url("fonts/b47a966e-2f71-464b-bfc4-73d890f0ace1.svg#b47a966e-2f71-464b-bfc4-73d890f0ace1") format("svg");
}