/*
Theme Name: MU-v2
Author: MU
Version: 1.0

*/

.author-wrp             {width: 100%; display: block;}
.author-wrp .author-post{width: 48%; display:block; height: auto;}
.author-wrp .0			{float: left;}
.author-wrp .1			{float: right;}
